/* Theming */
:root {
  --white: #f9f9f9;
  --black: #000000;
  --yellow: #a39750;
  --yellow-select: #b69c08;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

/* Header */

/* navbar */
.navbar {
  width: 100%;
  height: 50px; /* Высота навигационного меню */
  background-color: var(--yellow);
  /* Проверить тень */
  box-shadow: 1px 1px 5px 0 var(--yellow-select);
}

.navbar .container {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

/* Navbar brand text */

.navbar-brand {
  margin-left: 5px;
}

.navbar-brand-text {
  font-family: "Rubik Dirt", system-ui;
  font-size: 24px;
  color: var(--white);
  padding: 10px;
}

/* Navbar menu */

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 50px; /* Ниже навигационного меню */
  left: 0;
  right: 0;
  background-color: var(--yellow);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  z-index: 100;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-menu li {
  list-style: none;
}

.navbar-menu li a {
  display: block;
  font-size: 20px;
  color: var(--white);
  /* Высота кнопки с преувеличением норм? */
  padding: 15px;
}

.navbar-menu li a:hover {
  background-color: var(--yellow-select);
}

/* Hamburger menu */
.hamb {
  cursor: pointer;
  float: right;
  padding: 15px;
  margin-right: 10px;
}

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  width: 24px;
  position: relative;
}

.hamb-line::before,
.hamb-line::after {
  content: "";
  display: block;
  background: var(--white);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

.hamb-line::before {
  top: 0.3125rem;
}

.hamb-line::after {
  top: -0.3125rem;
}

.side-menu {
  display: none;
}

/* Toggle hamburger menu */
.side-menu:checked ~ .hamb .hamb-line {
  background-color: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.side-menu:checked ~ .navbar-wrap {
  max-height: 300px;
}

/* Main */

.content {
  flex: 1;
}

/* Footer */

.footer {
  font-size: 14px;
  text-align: center;
  padding: 2px;

  color: var(--white);
  background-color: var(--yellow);
}

/* Media Queries */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .navbar {
    height: 70px;
  }

  .navbar-brand-text{
    font-size: 28px;
  }

  .navbar-wrap {
    margin-right: 30px;
    position: sticky;
    max-height: none;
    top: 70px;
  }

  .navbar-menu {
    flex-direction: row;
  }

  .navbar-menu li a {
    padding: 20px;
  }

  .hamb {
    display: none;
  }
}

@media (min-width: 991px) {
  .navbar-brand-text{
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
}
